In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
df= pd.read_csv('Toronto_neighborhoods.csv')
df.head()

   M1A      Not assigned                    Not assigned.1
0  M2A      Not assigned                      Not assigned
1  M3A        North York                         Parkwoods
2  M4A        North York                  Victoria Village
3  M5A  Downtown Toronto         Regent Park, Harbourfront
4  M6A        North York  Lawrence Manor, Lawrence Heights

**Rename the columns**

In [36]:
df = df.rename(columns = {'M1A': 'Postal code', 'Not assigned':'Borough', 'Not assigned.1': 'Neighborhood'})
df.head()

  Postal code           Borough                      Neighborhood
0         M2A      Not assigned                      Not assigned
1         M3A        North York                         Parkwoods
2         M4A        North York                  Victoria Village
3         M5A  Downtown Toronto         Regent Park, Harbourfront
4         M6A        North York  Lawrence Manor, Lawrence Heights

**Drop the rows that their 'Borough' is 'Not assigned'**

In [44]:
df = df.drop(df[df['Borough']=='Not assigned'].index)
df.shape

(103, 3)