In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('Toronto_neighborhoods.csv')
df.head()

   M1A      Not assigned                    Not assigned.1
0  M2A      Not assigned                      Not assigned
1  M3A        North York                         Parkwoods
2  M4A        North York                  Victoria Village
3  M5A  Downtown Toronto         Regent Park, Harbourfront
4  M6A        North York  Lawrence Manor, Lawrence Heights

**Rename the columns**

In [3]:
df = df.rename(columns = {'M1A': 'Postal code', 'Not assigned':'Borough', 'Not assigned.1': 'Neighborhood'})
df.head()

  Postal code           Borough                      Neighborhood
0         M2A      Not assigned                      Not assigned
1         M3A        North York                         Parkwoods
2         M4A        North York                  Victoria Village
3         M5A  Downtown Toronto         Regent Park, Harbourfront
4         M6A        North York  Lawrence Manor, Lawrence Heights

**Drop the rows that their 'Borough' is 'Not assigned'**

In [4]:
df = df.drop(df[df['Borough']=='Not assigned'].index)
df.shape

(103, 3)

**Now I read Geospatial_Coordinates.csv into a datafram called df1 and merge two dataframes by matching the postal codes. 
(I couldn't get geocoder to work for me.**

In [7]:
df1 = pd.read_csv('Geospatial_Coordinates.csv')
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
print(f' df columns: {df.columns}')
print(f' df1 columns: {df1.columns}')

 df columns: Index(['Postal code', 'Borough', 'Neighborhood'], dtype='object')
 df1 columns: Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [22]:
df_merged = pd.merge(left = df, right = df1, how = 'left', left_on = 'Postal code', right_on = 'Postal Code')
df_merged.head(10)

,Postal code,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M3A,North York,Parkwoods,M3A,43.753259,-79.329656
1,M4A,North York,Victoria Village,M4A,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",M5A,43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",M6A,43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",M7A,43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",M9A,43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
7,M3B,North York,Don Mills,M3B,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",M4B,43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",M5B,43.657162,-79.378937

In [23]:
df_merged = df_merged.drop('Postal Code', axis = 1)
df_merged.head(11)

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073

In [19]:
df_merged.shape

(103, 5)